<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{fridge.asset_SN}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Πληροφορίες ψυγείου</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>Περιγραφή: {{ fridge.AssetMaterial_descr }}</h3>
      <h3>Εικαστικό: {{ fridge.eikastiko_descr }}</h3>
      <h3>Κατασκευαστής: {{ fridge.manufacturer_descr }}</h3>
      <h3>Μοντέλο: {{ fridge.model_descr }}</h3>
      <h3>Κατάσταση: {{ fridge.quality_descr }}</h3>
      <h3>Καθαρό βάρος: {{ fridge.weight_net }}</h3>
    </ion-card-content>
  </ion-card>
</ion-content>