<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="search"></ion-icon>
      <ion-label>Αναζήτηση</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="home"></ion-icon>
      <ion-label>Καταστήματα</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="map"></ion-icon>
      <ion-label>Χάρτης</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
