<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Αναζήτηση
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <loading-spinner *ngIf="!clients" name="crescent" color="primary"></loading-spinner>
  <ion-item>
    <ion-label>Επίλεξε ακτίνα</ion-label>
    <ion-select value="30" class="radius-picker" placeholder="Ακτίνα" (ionChange)="setSelectedRadius($event)">
      <ion-select-option value="30">30 μ.</ion-select-option>
      <ion-select-option value="100">100 μ.</ion-select-option>
      <ion-select-option value="200">200 μ.</ion-select-option>
      <ion-select-option value="500">500 μ.</ion-select-option>
    </ion-select>
  </ion-item>

  <form action="." (ngSubmit)="submitSearch($event)">
    <ion-searchbar [ngModelOptions]="{standalone: true}" placeholder="Αναζήτησε με ΑΦΜ" [(ngModel)]="searchQuery">
    </ion-searchbar>
  </form>

  <div *ngIf="this.nearbyVendors.length === 0" class="flex-container ion-padding ion-justify-content-center ion-align-items-center ion-text-center">
    Δε βρέθηκαν καταστήματα σε απόσταση {{radius}} μέτρων από την τοποθεσία σας. Μεγαλώστε την ακτίνα ή κάνετε αναζήτηση μέσω ΑΦΜ.
  </div>

  <ion-list *ngIf="this.nearbyVendors.length > 0">
    <ion-item *ngFor="let client of nearbyVendors" (click)="navigateToClient(client)">
      <ion-avatar slot="start">
        <img src="https://www.krikri.gr/img/krikrilogofb.jpg">
      </ion-avatar>
      <ion-label>
        <h3 class="ion-float-right">{{ client.distanceText }}</h3>
        <h3>{{ client.NameCus }}</h3>
        <p>{{ client.street }}</p>
        <p>{{ client.district }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>