<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Όλα τα καταστήματα
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let client of clients" (click)="navigateToClient(client)">
      <ion-avatar slot="start">
        <img src="https://www.krikri.gr/img/krikrilogofb.jpg">
      </ion-avatar>
      <ion-label>
        <h3>{{ client.NameCus }}</h3>
        <p>{{ client.street }}</p>
        <p>{{ client.district }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>