<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Απογραφή
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Πληροφορίες καταστήματος</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h3>Επωνυμία: {{ client.NameCus }}</h3>
      <h3>ΑΦΜ: {{ client.addrcode }}</h3>
      <h3>Διεύθυνση: {{ client.street }}</h3>
      <h3>Πόλη: {{ client.city }}</h3>
      <h3>Περιοχή: {{ client.district }}</h3>
      <h3>Τ.Κ: {{ client.zip }}</h3>
      <h3>Είδος: {{ client.eidos }}</h3>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Προβολή χάρτη</ion-card-title>
    </ion-card-header>

    <div id="map_canvas"></div>
    <ion-card-content class="ion-no-padding">

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Απογραφή ψυγείων</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list *ngIf="client.fridges">
        <ion-item *ngFor="let fridge of client.fridges" class="ion-no-padding" (click)="navigateToFridge(fridge)">
          <ion-avatar slot="start">
            <img src="https://www.krikri.gr/img/krikrilogofb.jpg">
          </ion-avatar>
          <ion-label>
            <h3>{{ fridge.asset_SN }}</h3>
            <p *ngIf="fridge.AssetMaterial_id">Κωδικός: {{ fridge.AssetMaterial_id }}</p>
            <p>{{ fridge.AssetMaterial_descr }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
      <h3 class="ion-padding-top ion-padding-bottom" *ngIf="!client.fridges">Το σημείο πώλησης δεν έχει εγγεγραμμένα
        ψυγεία</h3>
      <ion-button color="primary" expand="block" (click)="scanSNBarcode()">ΣΚΑΝΑΡΕ ΣΕΙΡΙΑΚΟ ΑΡΙΘΜΟ</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>NFC Scanning</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src='assets/nfc {{nfcStatus}}.png'>
      <div *ngIf="nfcStatus === 'disabled'">
        <h3 class="nfc-message">Το NFC είναι απενεργοποιημένο στη συσκευή σας. Ενεργοποιήστε το από τις ρυθμίσεις.</h3>
        <ion-button color="primary" expand="block" (click)="openNFCSettings()">ΡΥΘΜΙΣΕΙΣ NFC</ion-button>
      </div>
      <div *ngIf="nfcStatus === 'active'">
        <h3 class="nfc-message">Το NFC είναι ενεργοποιημενο. Μπορείτε να σκανάρετε NFC tags.</h3>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>