.spinner-container {
    display: flex;
    height: 100%;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.spinner-background {
    height: inherit;
    width: inherit;
    position: absolute;
    z-index: 900;
    background: rgba(163, 162, 162, 0.9);
}

.spinner {
    z-index: 1000;
    transform: scale(2);
}